body {
			color: darkslategray; 
			font-family: Monaco;
			padding-left: 20px;
			padding-right: 20px;
		}


h1 {
	font-size: 40px;
	text-shadow: 1px 1px 1px #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
h2 {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: underline;
}
h3 {
	font-size: 25px;
	text-shadow: 1px 1px 1px #000;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.word {
	color: #333333; 
    font-size: 110%;  
    text-shadow: 0.5px 0.5px 0.5px #333333; 
    
}
ul.custom-ul {
  list-style: none; 
  padding-left: 0;  
}

ul.custom-ul li {
  position: relative; 
  padding-left: 30px; 
}
ul.custom-ul li::before {
  content: "\1F43E"; 
  font-size: 1.1em;
  position: absolute;
  left: 0;
  top: 0;

}
ul.custom-ul2 {
  list-style: none; 
  padding-left: 10;  
}
.navigation {
	background-color: #808080;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-radius: 18px;
	box-shadow: 10 4px 8px rgba(0, 0, 0, 0.9);
	display: flex;
	gap: 10px;
	align-items: center;
}
.navigation a {
	color: antiquewhite;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 18px;
	transition: background-color 0.3s;
}
.navigation a:hover {
	background-color: #333333;
	
}
.nav-icon {
  height: 1.5em;
  width: auto;
  vertical-align: middle;
}
.img {
	text-align: center; 
  padding: 15px;
}
.float-right-image {
  float: right; 
  width: 45%; 
  margin-left: 30px; 
}
.slider-container {
  width: 90%; 
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden; 
}

.slider-track {
  width: 500%; 
  height: auto;
  display: flex; 
  animation: slide-show 25s infinite; 
}
.slider-track img {
  width: 20%; 
  height: auto;
  object-fit: cover; 
}
@keyframes slide-show {
  0% { transform: translateX(0%); }
  16% { transform: translateX(0%); } 

  20% { transform: translateX(-20%); } 
  36% { transform: translateX(-20%); } 
  
  40% { transform: translateX(-40%); } 
  56% { transform: translateX(-40%); } 

  60% { transform: translateX(-60%); }
  76% { transform: translateX(-60%); } 
  
  80% { transform: translateX(-80%); } 
  96% { transform: translateX(-80%); } 

  100% { transform: translateX(0%); }
}